body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: auto; /*center mai ladega*/
    overflow: hidden;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    background-color: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: orange 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: palevioletred;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background: url('images/bg.jpg') no-repeat;
    color: white;
    text-align: center;
}
#showcase h1{
    margin-top: 100px;
    font-size: 35px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 18px;
}
#newsletter{
    padding: 15px;
    color: white;
    background: #000000;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.btn{
    height: 38px;
    border: 0;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

/* boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

/* sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .help input, aside#sidebar .help textarea{
    width: 90%;
    padding: 5px;
}
/* article */
article#main-col{
    float: left;
    width: 65%;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Services */
ul#services li{
    list-style:none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

/* responisve */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button, .help button{
        display: block;
        width: 100%;
    }
    #newsletter form input[type="email"], .help input, .help textarea{
        width: 100%;
        margin-bottom: 7px;
    }
}